# Prerequisites
*.d
*.gen

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.a

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Other
*.tar

# Executables
*.exe
*.out
*.app
*.efi
*.elf
*.iso
*.bin

# EFI ESP Images
*.img
*.tmp

# Log files
*.log

# Directories
.vscode/
obj/
output/
ovmf/